                <style>
                        body    {
                                    margin: 0;
                                    background: rgb(110, 102, 102);
                                }
                        h1      {
                                    background: rgb(92, 92, 202);
                                    margin: 0px 0px 0px 0px;
                                    padding: 15px;
                                    border: 10px solid black;
                                    text-align: center;
                                }

                        h2      {
                                    background: red;
                                    margin: 0 0 10 0px;
                                    text-align: center;
                                    padding: 10px;
                                }        

                        p.subtexto       {
                                    font-size: 10px;
                                    font-style : italic;
                                }
                </style>   